[run]
branch = True
omit = 
    mysite/*
    aquaholic/__inti__.py
    aquaholic/admin.py
    manage.py
    aquaholic/tests.py
    aquaholic/apps.py
    data/*
    aquaholic/static/*
    aquaholic/templates/*
    aquaholic/migrations/*