@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


*{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #0E1646;
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    align-items: flex-start;
    background: transparent;
    position: relative;
    float: right;
    right: 50px;
    margin-top: 0%;
}

.navbar ul li{
    list-style: none;
    position: relative;
    text-align: center;
    font-size: 25px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.head {
    height: 100px;
    margin-top: 4%;
    margin-bottom: 2%;
}

.head h1{
    font-size: 60px;
}

.wrapbutton {
    position: relative;
    align-items: center;
}

.wrapbutton button{
    margin-right: 120px;
    margin-bottom: 4%;
    width: 13%;
    height: 23%;
    border-radius: 35px;
}
.wrapbutton img{
    border-radius: 25px;
}

.wrapinfo {
    margin: auto;
    width: 50%;
    display: grid;
    align-items:flex-end ;
}

.date {
    font-size: 20px;
    padding: 10px;
    clear: both;
    float: left;
    background-color: #ffccf4;
    width: 349px;
}

.date label {
    background-color: #ffccf4;
    width: 125px;
    display: inline-block;
    margin-right: -12%;
}

.date input {
    text-align: center;
    font-size: 20px;
    width: 210px;
    line-height: 1.65;
    border: 0px solid #0E1646;
    background-color: #ffccf4;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: 1;
}

.amount {
    background-color: #ffccf4;
    width: 400px;
    height: 49px;
    font-size: 20px;
    margin-top: 4%;
    margin-left: 0;
    margin-right: auto;
    clear: both;
    float: left;
}
  
.amount input{
    font-size: 20px;
    width: 125px;
    height: 43px;
    line-height: 1.65;
    border: 0px solid #0E1646;
    background-color: #ffccf4;
}
  
.amount label {
    display: inline-block;
    width: 325px;
    height: 43px;
    background-color: #ffccf4;
    text-align: center;
    margin-right: -15%;
}

.save {
    margin-top: 24%;
}

.save button{
    width: 250px;
    height:50px;
    padding: 20px auto;
    text-align: center;
    font-size: 18px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #1b3660;
    background: #1b3660;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}