*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    color: #0E1646;
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 60px;
    background-color: transparent;
}

.search label{
    background: transparent;
    position: relative;
}

.search select{
    background: #FFFFFF;
    position: relative;
}

.search button {
    width: 50px;
    height:30px;
    padding: 10px auto;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0E1646;
    background: #FFFFFF;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.chart {
    background-color: transparent;
    height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
} 

canvas {
    background: #FFFFFF;
    /* background-color: transparent; */
}