*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #4682B4;
    color: #0E1646;

}

.entrance{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
}

.entrance h1{
    font-size: 120px;
    margin-top: 80px;
}

.entrance p{
    font-size: 30px;
    margin: 10 auto;
    font-weight: 100;
    line-weight: 25px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


.water {
    position: relative;
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-family: "Poppins", sans-serif;
}

.water h2{
    position: absolute;
    font-size: 14vw;
    background: transparent;
}






button{
    width: 150px;
    padding: 10px 0;
    margin: 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0E1646;
    background: transparent;
    position: relative;
    right: 400px;

}

.buttonlogin form {
    display: inline-block
}

.getin{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.getin p{
    font-size: 30px;
    margin: 0;
    position: relative;
    top: 50px;
    text-shadow:
    -10px 10px 10px rgba(0,0,0,0.5);
}

.getin h1{
    font-size: 80px;

}
.getin h2{
    font-size: 80px;

}

.buttonenter form{
    display: inline-block;
}

.logout form{
    position: relative;
    top: 10px;

}

.container {
    margin: 10px auto;
    margin-top: -90px;
    width: 400px;
    text-align: center;
}

.container .progress {
    margin: 0 auto;
    width: 400px;
}

.progress {
    padding: 40px;
    background: white;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    height: 16px;
    border-radius: 4px;
     background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

#five:checked ~ .progress &gt; .progress-bar {
    width: 5%;
    background-color: green;
}

#twentyfive:checked ~ .progress &gt; .progress-bar {
    width: 25%;
    background-color: pink;
}

#fifty:checked ~ .progress &gt; .progress-bar {
    width: 50%;
    background-color: #f2b01e;
}

#seventyfive:checked ~ .progress &gt; .progress-bar {
    width: 75%;
    background-color: #f2d31b;
}

#onehundred:checked ~ .progress &gt; .progress-bar {
    width: 100%;
    background-color: #86e01e;
}

.radio {
    display: none;
}

.label {
    display: inline-block;
    margin: 0 5px 20px;
    padding: 3px 8px;
    color: #aaa;
    text-shadow: 0 1px black;
    border-radius: 3px;
    cursor: pointer;
}

.radio:checked + .label {
    color: white;
    background: rgba(0, 0, 0, 0.25);
}