*{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #0E1646;
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 90px;
    margin-top: 10%;
    text-shadow:
    -12px 12px 20px rgba(0,0,0,0.5);

}

.setup button{
    width: 250px;
    height:50px;
    padding: 20px auto;
    text-align: center;
    font-size: 18px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0E1646;
    background: white;
    cursor: pointer;
    overflow: hidden;
}

#first {
    width: 35%;
}

#last {
    width: 35%;
}

#frequency {
    width: 15%;
    margin-left: 12%;
}

.setup input{
    width: 125px;
    height: 40px;
    line-height: 1.65;
    border: 1px solid #0E1646;
    border-radius: 25px;
}

.setup label {
        display: inline-block;
        width: 460px;
        background: transparent;
}

#help {
  height: 40px;
  width: 40px;
  font-size: 28px;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 3%;
  color: #FFFFFF;
  background-color: #06C755;
  border: 2px solid #0E1646;
}

#line-connect {
  background-color: #06C755;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  margin-top: 3%;
  border-radius: 15px;
  border: 2px solid #0E1646;
  font-weight: bold;
}

