*{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #0E1646;
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 50px;
    margin-top: 3%;
    text-shadow:
    -12px 12px 20px rgba(0,0,0,0.5);
}

.content .scrollindiv {
  margin-left: 15%;
}

div.scrollindiv {
  margin:5px;
  padding:5px;
  background-color: linear-gradient(-60deg, #ffcc99 0%, #4d79ff 100%);
  width: 1000px;
  height: 500px;
  overflow: auto;
  text-align:justify;
}

table {
  margin: 0 auto;
}

th {
  position: sticky;
  top: 0; 
  z-index: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* spacing */

table {
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
  border: 1px solid transparent;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th
    {
      background-color:white;
    }
td {
  padding: 20px;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button{
  width: 150px;
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #0E1646;
  background: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}