@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


*{
    margin: auto;
    padding: 0;
    text-align: center;
    background-color: #4682B4;
    color: #0E1646;
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 90px;
    margin-top: 260px;
    text-shadow:
    -12px 12px 20px rgba(0,0,0,0.5);
}

.navbar{
    display: flex;
    margin: auto;
    align-items: flex-start;
    background:transparent;
    position: relative;
    float: right;
    top: -355px;
    right: 50px;
}

.navbar ul li{
    list-style: none;
    position: relative;
    text-align: center;
    font-size: 25px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.calpart button{
    width: 250px;
    height:50px;
    padding: 20px auto;
    text-align: center;
    font-size: 18px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0E1646;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: 1;
}

.calpart input{
    width: 125px;
    height: 40px;
    line-height: 1.65;
    border: 1px solid #0E1646;
    border-radius: 25px;
}


img {
    position: absolute;
    top: 380px;
    margin-left: 450px;
    background: transparent;
    transform: rotate(335deg);
}

.join {
    line-height: 200%;
    display: inline-flex;
    position: relative;
    background: transparent;
    align: center;
    align-items: center;
    bottom: -30px;
}

.join p{
    background: transparent;
}

.join button{
    width: 150px;
    height:50px;
    padding: 20px auto;
    text-align: center;
    font-size: 18px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0E1646;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}