*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #4682B4;
    color: #0E1646;

}

.entrance{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
}

.entrance h1{
    font-size: 120px;
    margin-top: 80px;
}

.entrance p{
    font-size: 30px;
    margin: 10 auto;
    font-weight: 100;
    line-weight: 25px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


.water {
    position: relative;
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-family: "Poppins", sans-serif;
}

.water h2{
    position: absolute;
    font-size: 14vw;
    background: transparent;
}







button{
    width: 150px;
    padding: 10px 0;
    margin: 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0E1646;
    background: transparent;
    position: relative;
    right: 400px;

}

.buttonlogin form {
    display: inline-block
}

.getin{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.getin p{
    font-size: 30px;
    margin: 0;
    position: relative;
    top: 50px;
    text-shadow:
    -10px 10px 10px rgba(0,0,0,0.5);
}

.getin h1{
    font-size: 80px;

}
.getin h2{
    font-size: 80px;

}

.buttonenter form{
    display: inline-block;
}

.logout form{
    position: relative;
    top: 20px;

}

.container {
        margin: 0px auto;
        margin-right:200px;
        background-color: rgb(192, 192, 192);
        width: 50%;
        border-radius: 15px;
    }
    .progress {
        background-color:#0E1646;
        color: white;
        padding: 5px;
        text-align: right;
        font-size: 20px;
        border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
     -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width;
    -moz-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    }

    .intake {
        width: 0%;
    }