*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #4682B4;
    color: white;

}

.entrance{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
}

.entrance h1{
    font-size: 120px;
    margin-top: 80px;
}

.entrance p{
    font-size: 30px;
    margin: 10 auto;
    font-weight: 100;
    line-weight: 25px;
}

button{
    width: 150px;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.buttonlogin form {
    display: inline-block
}

.getin{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
}

.getin p{
    font-size: 30px;
    margin: 0;
    position: relative;
    top: 80px;
}

.getin h1{
    font-size: 80px;
    margin-top: 80px;
}

.buttonenter form{
    display: inline-block;
}

.logout form{
    position: relative;
    top: 10px;
}

.calmain {
    width: 100%;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    text-align: center;
}

.calmain h1{
    font-size: 40px;
    margin-top: 20px;
}