@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #4682B4;
    color: #0E1646;
    font-family: "Poppins", sans-serif;
}

.entrance{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
}

.water {
    position: relative;
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-family: "Poppins", sans-serif;
}

.water h2{
    position: absolute;
    font-size: 14vw;
    background: transparent;
}

.entrance button{
    width: 150px;
    padding: 10px 0;
    margin: 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0E1646;
    background: transparent;
    position: relative;
    right: 400px;

}

.buttonlogin form {
    display: inline-block
}

.getin p{
    font-size: 30px;
    margin: 0;
    position: relative;
    top: 50px;
    text-shadow:
    -10px 10px 10px rgba(0,0,0,0.5);
}

.logout form{
    position: relative;
    top: 20px;
}