*{
    margin: 0;
    padding: 0;
    text-align: center;
    /*background-color: #FFFFFF;*/
    background: linear-gradient(-60deg, #ffcc99 0%, #4d79ff 100%);
    color: #0E1646;
    font-family: "Poppins", sans-serif;
}

.head h1{
    font-size: 60px;
}

.search label{
    background: transparent;
    position: relative;
}

.search select{
    background: #FFFFFF;
    position: relative;
}

.search button {
    width: 50px;
    height:30px;
    padding: 10px auto;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0E1646;
    background: #FFFFFF;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

canvas {
    background: #FFFFFF;
}