@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #4682B4;
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    align-items: flex-start;
    background: transparent;
    position: relative;
    float: right;
    right: 50px;
    margin-top: -10%;
}

.navbar ul li{
    list-style: none;
    position: relative;
    text-align: center;
    font-size: 25px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.wrap {
    align-items: center;
}

.container {
    position: sticky;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 18px -18px 25px rgba(103, 232, 255, 0.7);
    width: 30%;
    height: 60%;
    margin-left: 36%;
    margin-top: 12%;
}

#profilepic {
    position: sticky;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-top: -18%;
}

.container .context{
    margin-top: 6%;
    float: right;
}

.context {
    width: 90%;
    background: transparent;
    color: #0E1646;
    text-align: left;
    font-size: 20px;
    line-height: 300%;
}

.context p{
    text-align: left;
    background: transparent;
}