{% load static %}

<html>

    <head>
        <title>About us</title>
        <link rel="stylesheet" href="{% static 'aquaholic/style8.css' %}">
    </head>

    <div class="section1">
        <div class="header">
            <h1 style="color: white;">About us</h1>
            <div class="describtion">
                <p style="color: white;">
                    We help you create a better water-drinking 
                    routine. Suited for everyone who wants to improve 
                    their water drinking behavior by calcalate the amount of water 
                    you should drink in one day according to your weight and exercise
                    time. We use the formula created by the University 
                    of Missouri System website.
                <ul>
                    <li><a href="/" style="color: white;">Home</a></li>
                </ul>
                </p>
            </div>
        </div>

    </div>

    <div class="section2">

        <h1> Our creators</h1>

        <div class="creator">
                <div class="picture1">
                    <a href="https://github.com/jindasy">
                    <img src="https://i.imgur.com/Gl5stmq.png">
                    </a>
                    <p style="text-align: center;">Jindaporn Sookying</p>
                </div>

                <div class="picture2">
                    <a href="https://github.com/kulisarawiangin">
                    <img src="https://i.imgur.com/Gl5stmq.png">
                    </a>
                    <p style="text-align: center;">Kulisara Wiangin</p>
                </div>

                <div class="picture3">
                    <a href="https://github.com/PloyyNK">
                    <img src="https://i.imgur.com/Gl5stmq.png">
                    </a>
                    <p style="text-align: center;">Nartnatta Krivichian</p>
                </div>

                <div class="picture4">
                    <a href="https://github.com/Siripa-Maneein">
                    <img src="https://i.imgur.com/Gl5stmq.png">
                    </a>
                    <p style="text-align: center;">Siripa Manneein</p>
                </div>

        </div>


    </div>
</html>