<!DOCTYPE html>
{% load static %}

<html>

<head>
      <link rel="stylesheet" href="{% static 'aquaholic/style7.css' %}">
      <link rel="stylesheet" href="{% static 'aquaholic/style10.css' %}">
</head>


<body>

<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="navbar">
    <ul>
        {% if user.is_authenticated %}
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'aquaholic:profile' user.id %}">Profile</a></li>
        <li><form action="{% url 'aquaholic:calculate_auth' user.id %}" method="get">
            {% csrf_token %}
            <button type="submit" style="border:none">Calculate</button>
        </form></li>
        <li><a href="{% url 'aquaholic:line_connect' user.id %}">Set Schedule</a></li>
        <li><a href="{% url 'aquaholic:schedule' user.id %}">Schedule</a></li>
        <li><a href="{% url 'aquaholic:input' user.id %}">Input</a></li>
        <li><a href="{% url 'aquaholic:history' user.id %}">History</a></li>
        <li><form action="{% url 'account_logout' %}" method="post">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" style="border:none">Logout</button>
        </form></li>
        <li><a href="/aquaholic/about_us">About us</a></li>
        {% endif %}
    </ul>
</div>


<div class="content">
  <h1>Your intake history</h1>
  <div class="search">
    <form action="{% url 'aquaholic:history' user.id %}" method="post">
      {% csrf_token %}
      <label for="month">Choose month and year:</label>
      <select id="month" name="month">
        <option value={{selected_month_int}}>{{selected_month_str}}</option>
        <option value=1>Jan</option>
        <option value=2>Feb</option>
        <option value=3>Mar</option>
        <option value=4>Apr</option>
        <option value=5>May</option>
        <option value=6>Jun</option>
        <option value=7>Jul</option>
        <option value=8>Aug</option>
        <option value=9>Sep</option>
        <option value=10>Oct</option>
        <option value=11>Nov</option>
        <option value=12>Dec</option>
      </select>
      <select id="year" name="year">
        <option value={{selected_year}}>{{selected_year}}</option>
        {% for year in recent_year %}
          <option value={{year}}>{{year}}</option>
        {% endfor %}
      </select>
      <button type="submit" >Go</button>
    </form>
  </div>
  <div class="chart">
    <canvas id="myChart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const labels = {{date|safe}};

  Chart.defaults.color = "rgba(0, 0, 0, 1)"
  Chart.defaults.borderColor = "rgba(0, 0, 0, 0.2)"
  const data = {
    labels: labels,
    datasets: [{
      label: 'Water amount greater than or equal to goal (ml)',
      backgroundColor: '#d4f1f9',
      borderColor: '#d4f1f9',
      data: {{reached_goal_data|safe}},
    },
    {
      label: 'Water amount less than goal (ml)',
      backgroundColor: '#FF9999',
      borderColor: '#FF9999',
      data: {{not_reached_goal_data|safe}},
    }
    ]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };
</script>

<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

</body>
</html>