{% load static %}

<html>
    <head>
        <title>User Profile</title>
        <link rel="stylesheet" href="{% static 'aquaholic/style9.css' %}">
    </head>

    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </div>

    <div class="container">

        <img id="profilepic" src="https://i.imgur.com/uR6acjH.jpg">
        <div class="context">
            <p>Name: {{ first_name }}</p>
            <p>User ID: {{user_id}}</p>
            <p>Weight: {{ weight }}</p>
            <p>Exercise duration: {{ exercise_time }}</p>
            <p>First join: {{join}}</p>
        </div>

    </div>

</html>