{% load static %}
{% load socialaccount %}
{% load i18n %}

<html>
<head>
    <title>Calculate Water Intake</title>
    <link rel="stylesheet" href="{% static 'aquaholic/style2.css' %}">
    <link rel="stylesheet" href="{% static 'aquaholic/style10.css' %}">
</head>

<div class="content">
    <h1>Please, set up a few things.</h1>
    <div class="calmain">
        <div class="calpart" style="line-height: 250%">
        <form action="{% url 'aquaholic:registration' user.id %}" method="POST">
            {% csrf_token%}
            <label id="weightl" >Enter your weight (kg)</label>
            <input id="weightin" type="number" name="weight" min="1" step="0.01">
            <br>
            <label style="font-size: 30px;">Enter your exercise time (min)</label>
            <input style="margin-left: 65px; font-size: 18px;" type="number" name="exercise_duration" min="0" step="0.01">
            <br>
            {% if message %}
                <p style="color: #B80000; font-size: 18px; margin-bottom: 0; margin-top: 10px;">{{message}}</p>
            {% endif %}
            <button type="submit" style="margin-top: 40px;">Calculate and Save</button>
            <a href="{% url 'aquaholic:set_up' user.id %}">Next</a>


        </form>
        </div>
        <div class="result">
            {% if result %}
                <p id="amount-result">The amount of water that you should drink is <b>{{result}}</b> ml.</p>
            {% endif %}
        </div>
    </div>
</div>
</html>