{% load static %}
{% load socialaccount %}
{% load i18n %}

<html>
<head>
    <title>Calculate Water Intake</title>
    <link rel="stylesheet" href="{% static 'aquaholic/style2.css' %}">
    <link rel="stylesheet" href="{% static 'aquaholic/style10.css' %}">
</head>



<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="navbar">
    <ul>
        {% if user.is_authenticated %}
        <li><a href="/">Home</a></li>
        <li><a href="/aquaholic/profile">Profile</a></li>
        <li><form action="{% url 'aquaholic:calculate_auth' user.id %}" method="get">
            {% csrf_token %}
            <button type="submit" style="border:none">Calculate</button>
        </form></li>
        <li><a href="{% url 'aquaholic:set_up' user.id %}">Set Schedule</a></li>
        <li><a href="{% url 'aquaholic:schedule' user.id %}">Schedule</a></li>
        <li><a href="{% url 'aquaholic:input' user.id %}">Input</a></li>
        <li><a href="{% url 'aquaholic:history' user.id %}">History</a></li>
        <li><a href="/aquaholic/about_us">About us</a></li>
        {% endif %}
    </ul>
</div>



<div class="content">
    <h1>Please, set up a few things.</h1>
    <div class="calmain">
        <div class="calpart" style="line-height: 250%">
        <form action="{% url 'aquaholic:registration' user.id %}" method="POST">
            {% csrf_token%}
            <label id="weightl" >Enter your weight (kg)</label>
            <input id="weightin" type="number" name="weight" min="1" step="0.01">
            <br>
            <label style="font-size: 30px;">Enter your exercise time (min)</label>
            <input style="margin-left: 65px; font-size: 18px;" type="number" name="exercise_duration" min="0" step="0.01">
            <br>
            {% if message %}
                <p style="color: #B80000; font-size: 18px; margin-bottom: 0; margin-top: 10px;">{{message}}</p>
            {% endif %}
            <button type="submit" style="margin-top: 40px;">Calculate and Save</button>
            {% if result %}
            <a href="{% url 'aquaholic:set_up' user.id %}">
    <button type="button" style="margin-bottom=400;">Next</button>
</a>
            {% endif %}

        </form>
        </div>
        <div class="result">
            {% if result %}
                <p id="amount-result">The amount of water that you should drink is <b>{{result}}</b> ml.</p>

            <a href="{% url 'aquaholic:set_up' user.id %}">
    <button type="button" style="margin-bottom=400;">Next</button>
</a>
            {% endif %}

        </div>
    </div>
</div>
</html>