{% load static %}
{% load socialaccount %}
{% load i18n %}

<html>
<head>
    <title>Set your new schedule</title>
    <link rel="stylesheet" href="{% static 'aquaholic/style4.css' %}">
    <link rel="stylesheet" href="{% static 'aquaholic/style10.css' %}">
</head>

<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="navbar">
    <ul>
        {% if user.is_authenticated %}
        <li><a href="/">Home</a></li>
        <li><a href="/aquaholic/profile">Profile</a></li>
<!--        <li><a href="calculate_auth">Calculate</a></li>-->
        <li><form action="{% url 'aquaholic:calculate_auth' user.id %}" method="get">
            {% csrf_token %}
            <button type="submit" style="border:none">calculate</button>
        </form></li>
        <li><a href="{% url 'aquaholic:set_up' user.id %}">Set Schedule</a></li>
        <li><a href="{% url 'aquaholic:schedule' user.id %}">Schedule</a></li>
        <li><a href="{% url 'aquaholic:input' user.id %}">Input</a></li>
        <li><a href="{% url 'aquaholic:history' user.id %}">History</a></li>
        <li><a href="/aquaholic/about_us">About us</a></li>
        {% endif %}
    </ul>
</div>

<h1>Set your new schedule</h1>
<div class="setup">
    <form action="{% url 'aquaholic:set_up' user.id %}" method="POST">
        {% csrf_token %}
        <br>
        <label style="font-size: 30px;">Enter your first notification time</label>
        <input style="margin-left: 114px; font-size: 18px;" type="time" name="first_notification">
        <br>
        <label style="font-size: 30px;">Enter your last notification time</label>
        <input style="margin-left: 114px; font-size: 18px;" type="time" name="last_notification">
        <br>
        <label style="font-size: 30px; ">Notify every</label>
        <input style="margin-left: 114px; font-size: 18px;" type="number" name="notify_step" min="1" value="1">
        <label style="font-size: 30px;">hours</label>
        <br>
        {% if message %}
            <p style="color: #B80000; font-size: 18px; margin-bottom: 0; margin-top: 10px;">{{message}}</p>
        {% endif %}
        <button  type="submit" style="margin-top: 40px;">Generate schedule</button>
    </form>
    <br>
</div>
</html>
