{% load static %}
{% load socialaccount %}
{% load i18n %}

<html>
<head>
    <title>Set your new schedule</title>
    <link rel="stylesheet" href="{% static 'aquaholic/style4.css' %}">
    <link rel="stylesheet" href="{% static 'aquaholic/style10.css' %}">
</head>

<!--<div class="navbar">-->
<!--    <ul>-->
<!--        <li><a href="/">Home</a></li>-->
<!--    </ul>-->
<!--</div>-->

<!--<details>-->
<!--    <summary></summary>-->
<!--<nav class="navbar">-->
<!--    {% if user.is_authenticated %}-->
<!--    <a href="/">Home</a>-->
<!--    <a href="/aquaholic/profile">Profile</a>-->
<!--    <a href="calculate_auth">Calculate</a>-->
<!--    <a href="set_up">Set Up</a>-->
<!--    <a href="schedule">Schedule</a>-->
<!--    <a href="input">Input</a>-->
<!--    <a href="history">History</a>-->
<!--    <a href="/aquaholic/about_us">About us</a>-->
<!--    {% endif %}-->
<!--    </nav>-->
<!--</details>-->

<!--<nav>-->
<!--  <div class="navicon">-->
<!--    <div></div>-->
<!--  </div>-->
<!--<div class="navbar">-->
<!--    {% if user.is_authenticated %}-->
<!--    <a href="/">Home</a>-->
<!--    <a href="/aquaholic/profile">Profile</a>-->
<!--    <a href="calculate_auth">Calculate</a>-->
<!--    <a href="set_up">Set Up</a>-->
<!--    <a href="schedule">Schedule</a>-->
<!--    <a href="input">Input</a>-->
<!--    <a href="history">History</a>-->
<!--    <a href="/aquaholic/about_us">About us</a>-->
<!--    {% endif %}-->
<!--    </div>-->
<!--</nav>-->


 <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="navbar">
      <ul>
          {% if user.is_authenticated %}
            <li><a href="/">Home</a></li>
            <li><a href="/aquaholic/profile">Profile</a></li>
            <li><a href="calculate_auth">Calculate</a></li>
            <li><a href="set_up">Set Schedule</a></li>
            <li><a href="schedule">Schedule</a></li>
            <li><a href="input">Input</a></li>
            <li><a href="history">History</a></li>
            <li><a href="/aquaholic/about_us">About us</a></li>
          {% endif %}
      </ul>
    </div>


<!--{% if user.is_authenticated %}-->
<!--            <li><form action="{% url 'aquaholic:calculate_auth' user.id %}" method="get">-->
<!--                {% csrf_token %}-->
<!--                <button type="submit" style="border:none;">calculate</button>-->
<!--            </form></li>-->

<!--            <li><form action="{% url 'aquaholic:set_up' user.id %}" method="get">-->
<!--                {% csrf_token %}-->
<!--                <button type="submit"style="border:none;">Set Up</button>-->
<!--            </form></li>-->

<!--            <li><form action="{% url 'aquaholic:schedule' user.id %}" method="get">-->
<!--                {% csrf_token %}-->
<!--                <button type="submit" style="border:none;">Schedule</button>-->
<!--            </form></li>-->

<!--            <li><form action="{% url 'aquaholic:input' user.id %}" method="get">-->
<!--                {% csrf_token %}-->
<!--                <button type="submit" style="border:none;">Input</button>-->
<!--            </form></li>-->

<!--            <li><form action="{% url 'aquaholic:history' user.id %}" method="get">-->
<!--                {% csrf_token %}-->
<!--                <button type="submit" style="border:none;">History</button>-->
<!--            </form></li>-->

<!--            <li><a href="about_us">About us</a></li>-->
<!--            {% endif %}-->
<!--      </ul>-->
<!--</div>-->

<h1>Set your new schedule</h1>
<div class="setup">
    <form action="{% url 'aquaholic:set_up' user.id %}" method="POST">
        {% csrf_token %}
        <br>
        <label style="font-size: 30px;">Enter your first notification time</label>
        <input style="margin-left: 114px; font-size: 18px;" type="time" name="first_notification">
        <br>
        <label style="font-size: 30px;">Enter your last notification time</label>
        <input style="margin-left: 114px; font-size: 18px;" type="time" name="last_notification">
        <br>
        <label style="font-size: 30px; ">Notify every</label>
        <input style="margin-left: 114px; font-size: 18px;" type="number" name="notify_step" min="1" value="1">
        <label style="font-size: 30px;">hours</label>
        <br>
        {% if message %}
            <p style="color: #B80000; font-size: 18px; margin-bottom: 0; margin-top: 10px;">{{message}}</p>
        {% endif %}
        <button  type="submit" style="margin-top: 40px;">Generate schedule</button>
    </form>
    <br>
</div>
</html>
