{% load static %}
{% load socialaccount %}
{% load i18n %}

<html>
<head>
    <title>Set your new schedule</title>
    <link rel="stylesheet" href="{% static 'aquaholic/style4.css' %}">
    <link rel="stylesheet" href="{% static 'aquaholic/style10.css' %}">
</head>

<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="navbar">
    <ul>
        {% if user.is_authenticated %}
        <li><a href="/=">Home</a></li>
        <li><a href="{% url 'aquaholic:profile' user.id %}">Profile</a></li>
        <li><form action="{% url 'aquaholic:calculate_auth' user.id %}" method="get">
            {% csrf_token %}
            <button type="submit" style="border:none">Calculate</button>
        </form></li>
        <li><a href="{% url 'aquaholic:set_up' user.id %}">Set Schedule</a></li>
        <li><a href="{% url 'aquaholic:schedule' user.id %}">Schedule</a></li>
        <li><a href="{% url 'aquaholic:input' user.id %}">Input</a></li>
        <li><a href="{% url 'aquaholic:history' user.id %}">History</a></li>
        <li><form action="{% url 'account_logout' %}" method="post">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" style="border:none">Logout</button>
        </form></li>
        <li><a href="/aquaholic/about_us">About us</a></li>
        {% endif %}
    </ul>
</div>

<div class="content">
    <h1>Set your notification schedule</h1>
    <p style="font-size: 20px; ">Connect to Line Notify for receiving notifications which will remind you to drink water throughout the day</p>
    <div class="setup">
        <a id="line-notify"  href="{% url 'aquaholic:line_notify' %}">Connect to your Line Notify</a>
        <button id="help" type="button" onclick="alert('After clicking - Connect to your Line Notify - , you will be asked to login to your line account and asked which chat or group you would like to receive notifications from our app.')">?</button>
        <br>
        {% if has_token %}
           <p style="font-size: 20px; "> ✅ Line notify is connected. Notification is enabled.</p>
           <br>
           <p style="font-size: 16px; "> You can turn off notification anytime in the schedule page or disconnect from line notify anytime at <a style="color: white" href="https://notify-bot.line.me/my/">My page - Line Notify</a></p>
           <br>
           <a id="line-connect" href="{% url 'aquaholic:set_up' user.id %}"> Notification Settings </a>
        {% else %}
           <p style="font-size: 20px; "> ❌ Line notify is not connected. Notification is not yet enabled.</p>
           <br>
           <p style="font-size: 16px; "> Please, connect to your line notify first to receive notification from our app</a></p>

        {% endif %}
        <br>
        <ul>
            <link><a href="/">Skip for now</a>
        </ul>
    </div>
</div>    
</html>